@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background: #232323;
    font-family: 'Poppins', sans-serif;
}

.todo-app {
    width: min(80%, 1024px);
    padding: 20px 10px;
    background-color: #3d737f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

    & h1 {
        color: #07161b;
        padding-bottom: 20px;
    }

    &__input-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & input{
            width: 100%;
            padding: 10px 20px;
            border: 2px solid #67b8ca;
            border-radius: 10px;
            outline: none;
            font-size: 1.25rem;
        }
    }

    &__list{
        width: 80%;
        margin-top: 10px;
        list-style: none;

        & .task{
            height: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #07161b;
            cursor: pointer;

            & .container{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;

                & .circle{
                    height: 80%;
                    aspect-ratio: 1;
                    border: none;
                    border-radius: 50%;
                    background-color: #1f444c;
                }
            }

            & .close-icon {
                color: #07161b;
                cursor: pointer;
                z-index: 9;
                font-size: 1.25rem;
            }

            &.completed{
                & .container{
                    & .circle{
                        background-color: #1f444c;
                    }
                    & span{
                        text-decoration: line-through;
                    }
                }
                & .close-icon{
                    text-decoration: line-through;
                    pointer-events: none;
                }
            }
        }
    }
}

